<html>
    {% extends "base.html" %}
    {% block title %}
    <head>
    <h1>מטופלים</h1>
    <h3>{{ message }}</h3>
    <h4>ניתן לחפש לפי שם פרטי, שם משפחה, סניף, תאריך, רופא, צורת תשלום, דרך וצלם</h4>
    <form action='/dental_photographs/results/'>
        <input name='q' type='search' placeholder="חיפוש">
    </form>
    </head>
    {% endblock %}  

    <body>
        {% block table %} 
        <table style="width:130%">
            <table class="table thead-dark table-bordered table-secondary">
            <thead>     
            <tr>
                <th>סניף</th>
                <th>תאריך</th>
                <th>שם פרטי</th>
                <th>שם משפחה</th>
                <th>ת.ז.</th>
                <th>רופא</th>
                <th>סוג צילום</th>
                <th>מספר עסקה</th>
                <th>צורת תשלום</th>
                <th>אשראי</th>
                <th>מזומן</th>
                <th>החזר מהביטוח</th>
                <th>מספר אסמכתא</th>
                <th>מספר חשבונית</th>
                <th>דרך</th>
                <th>צלם</th>
                <th>מחיקה</th>
                <th>פרטים</th>
            </tr>
            </thead>
            {% for p in patients %}
            <tr>
                <td>{{ p.branch }}</td>
                <td>{{ p.date }}</td>
                <td>{{ p.first_name }}</td>
                <td>{{ p.last_name }}</td>
                <td>{{ p.id_number }}</td>
                <td>{{ p.doctor }}</td>
                <td>{{ p.photo_type }}</td>
                <td>{{ p.deal_number }}</td>
                <td>{{ p.price_type }}</td>
                <td>{{ p.credit }}</td>
                <td>{{ p.cash }}</td>
                <td>{{ p.reimbursement_from_insurance }}</td>
                <td>{{ p.reference_number }}</td>
                <td>{{ p.invoicing_number }}</td>
                <td>{{ p.way }}</td>
                <td>{{ p.photographer_name }}</td>
                <td>
                    <form method="POST" action='/dental_photographs/remove/'>
                    <input type='hidden' name="id" value="{{p.id}}">
                    <input type='hidden' name="first_name" value="{{p.first_name}}">
                    <input class="btn btn-outline-danger" type="submit" value="מחק">
                </form>
                </td>
                <td><a href="/dental_photographs/patient_view/?id={{p.id}}">🙂</a></td>
            </tr>
            {% endfor %}
        </table>
    </body>
  

    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
      
      {% if patient_list.has_previous %}
      
          <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li><li></li>
          <li class="page-item"><a class="page-link" href="?page={{patient_list.previous_page_number}}">Previous</a></li>
      
      {% endif %}
      
      <!--  <li class="page-item disabled"><a href="#" class="page-link">Page {{ cars.number}} of {{ cars.paginator.num_pages}}</a></li>-->
<!--       
            {% for i in nums %}
               <li class="page-item"><a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter}}</a></li>
            {% endfor %}
      
      {% if patient_list.has_next %}
      
      <li class="page-item"><a class="page-link" href="?page={{patient_list.next_page_number}}">Next</a></li>
      <li class="page-item"><a class="page-link" href="?page={{patient_list.paginator.num_pages}}">Last &raquo</a></li>
      {% endif %}
      
        </ul>
      </nav> --> -->
    
{% endblock %}
</html>

