<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
<!-- <style>
    .home{
    text-align: right;
  }
</style> -->

<div class="home">
    <h1>Dental Photographs<h1>
    <a href='/dental_photographs/add_patient'>Add Patient</a><p>
    <a href='/dental_photographs/display_big_table'>Display Big Table</a><p>
    <a href='/dental_photographs/reports2'>Reports</a><p>
    <a href="/dental_photographs/reshon">Rishon</a><p>
    <a href="/dental_photographs/tel_aviv">Tel Aviv</a><p>
    <a href="/dental_photographs/analysis">Analysis</a><p>
    <a href="/dental_photographs/contact">Contact Us</a><p>
    </p>
</div>
<style>
    body {
        background-color: rgb(199, 211, 29); 
        background-size: cover;
    }
    </style>
    <img src="https://res.cloudinary.com/midrag/image/upload/c_scale,w_1206,q_auto,f_auto/c_scale,g_south_east,l_logo_on_img_2,w_65,x_15,y_15/Cms/jjxwxfonwcwrghz2qs7j.jpg" width="300" />
